SECRET_KEY='django-insecure-i*-+aj=-#z1o_%xtdt977@zosrb9js_6e@+t-=d9#c-x)4j%o4'
DEBUG=True
POSTGRES_DB=django_bot                                                                     
POSTGRES_USER=django_bot_user                                                              
POSTGRES_PASSWORD=django_bot_password
DB_NAME=django_bot
DB_HOST=db
DB_PORT=5432
API_TELEBOT_KEY='6047505718:AAETvVemdiRDPyiMjq8zGeEqK9yGPPnrjWk'
BACKEND_URL='http://gateway:80'
ALLOWED_HOSTS=['gateway', 'django_bot', '127.0.0.1', 'localhost', 'foodgr4m.sytes.net']
CSRF_TRUSTED_ORIGINS=['https://*.sytes.net']
